[user]
	name = Aarav-Guleria
	email = 197495691+Aarav-Guleria@users.noreply.github.com
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = !gh auth git-credential
